{% extends'__base__.html' %}
{% block title %}日志{% endblock %}
{% block beforehead %}
{% if isMobile==1 %}
    <style "> 
        .cont{
            font-size:0.4in; 
            line-height: 0.6in; 
            margin-top:0.5in;
            margin-left:1in;
            margin-right:1in;
            margin-left:1in;
        }
        h2{
            margin-left:1in;  
        }
        time{
            margin-left:1in;
        }
    </style>
{% endif %}
    <script>
        function initVN(datas) {
            var vm = new Vue({
                el:'#vm',
                data:{
                    blogs:datas.blogs,
                    page:datas.page
                }  
            });
            $('#vm').show();
        }
        $(function () {
            getJSON('/api/blogs',{
                page:'{{ page_index }}'
            },function (err,results) {
                if (err) {
                    return fatal(err);
                }
                $('#loading').hide();
                initVN(results);
            }
            );
        });
    </script>
    {% endblock %}
    {% block content %}
    
   
    <div id="error" class="uk-width-1-1">
    </div>
    
    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>
    
    <div id="vm" class="uk-width-1-1">
        <article>
               <template v-repeat="blog:blogs">
                        <a   v-attr="href: '/blog/'+blog.id"><h2 style="color:#345ce0;"target="_blank"  v-text="blog.name"></h2></a>
                        <span class = "time"v-text="blog.created_at.toDateTime()"></span> 
                        
                        <template v-repeat="content:blog.html_content">
                                <p class="cont"  v-text ="content" ></p>
                        </template>
                        <hr />  
                        <br>  <br>   
                              
                        
                </template>
        </article>
            
        <div v-component="pagination" v-with="page"  ></div>
    </div>
    
    <!-- <div>
        {% for blog in blogs %}
        <article class="uk-article">
            <h2> <a href="/blog/{{blog.id}}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            {% for content in blog.html_content %}
            <p>{{content}}</p>
            {% endfor %}     
        </article>
        <hr class="uk-article-divider">
        {% endfor%}
    </div> -->
 

{% endblock%}